html {
    font-family: Microsoft YaHei Bold, Microsoft YaHei Bold-Bold;
}
.lg-input {
    border: none;
    outline-style: none;
    outline: 0;
    border-bottom: 2px solid #edf1f4;
    border-radius: 1px;
    font-size: 18px;
    color: #111111;
    font-weight: 400;
    padding:0 0 18px 4px;
    text-decoration:none;
}
.lg-input:hover {
    border-color: rgb(64, 169, 255);
    transition: all 0.3s;
}
.lg-input > input {
    border: none;
    outline-style: none;
    height: 32px;
    outline: 0 ;
    font-size: 18px;
    color: #111111;
    font-weight: 400;
    padding:0;
    text-decoration:none;
}
.lg-input:focus, .lg-input > input:focus {
    outline: 0;
    box-shadow: none;
}